@import '~styles/variables';
@import '~styles/mixins';

.root {
  margin-top: 12px;
  padding: 12px;
  border: 1px solid $grey2;
  width: auto;
  cursor: pointer;
  cursor: hand;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: $grey2;
  }

  svg {
    margin-left: 24px;
    fill: $grey4;

    &:hover {
      fill: $grey5;
    }
  }
}

.content {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  .name {
    font-weight: 600;

    input {
      width: 100%;
      border: 0;
      background-color: transparent;
    }
  }

  .token {
    font-family: monospace;
  }
}
