@import '~styles/variables';

.root {
  padding: 15px 40px;
  border-bottom: 1px solid $grey2;
}

.header {
  padding: 10px 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: $grey6;
}

.permissionType {
  flex: 1 0 300px;
}

.allow {
  flex: 0.4 0 230px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-right: 20px;

  div {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.description {
  flex: 1 0 150px;
}

.controls {
  flex: 0 0 100px;
}

.permissions {
}

.add {
  width: 100%;
  border: 1px solid $grey2;
  text-align: center;
  padding: 12px 0;
  font-size: 13px;
  font-weight: 600;
  color: $grey3;
  cursor: pointer;
  margin-top: 10px;
  
  &:hover {
    background: $grey1;
  }
}
