@import '~styles/variables';
@import '~styles/mixins';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  height: 50px;

  &:hover {
    .delete {
      visibility: visible;
    }

    .addDescription {
      visibility: visible;
    }
  }
}

.permissionType {
  flex: 1 0 300px;
}

.allow {
  flex: 0.4 0 230px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-right: 20px;

  div {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.description {
  flex: 1 0 150px;
  color: $grey4;
  font-size: 13px;
  font-weight: 300;

  .addDescription {
    visibility: hidden;
    font-weight: 600;
    cursor: pointer;
    color: $grey3;
    padding: 20px 30px 20px 0;
    margin: -20px -30px -20px 0;

    &:hover {
      color: $grey4;
    }
  }

  input {
    border: 0;
    background: none;
    width: 100%;
    padding: 10px 0;
    margin: -10px 0;

    @include placeholder {
      color: $grey4;
    }
  }
}

.controls {
  display: flex;
  flex: 0 0 100px;
  font-size: 13px;
  font-weight: 600;
  justify-content: flex-end;
  color: $grey4;

  span {
    margin-left: 8px;
    cursor: pointer;
  }


  svg {
    fill: $grey3;

    &:hover {
      fill: $grey4;
    }
  }

  .delete {
    visibility: hidden;
  }
}

