@import '~styles/variables';

:global {
  @import '~normalize.css';

  html,
  body {
    background: #fff;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: $grey5;
    font-weight: 400;

    // enable font smoothing
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #sk-holder #sk-messenger-button svg path {
    filter: url("#dropShadow") !important;
  }

  a {
    text-decoration: none;
  }

  p, a, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }

  a:active, a:focus {
    outline: none;
  }

  input, button, submit {
    border: none;
  }

  *:focus {
    outline: none;
  }

  input[type='checkbox']:focus {
    border: 1px solid $accent-blue;
    box-shadow: 0 0 10px $accent-blue;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  strong {
    font-weight: 600;
  }

}
