@import '~styles/variables';

.root {
  padding: 15px 40px 30px;
  border-bottom: 1px solid $grey2;
}

.header {
  padding: 10px 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: $grey6;
}

.row {
  width: 100%;
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-size: 14px;

  label {
    cursor: pointer;

    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  input {
    margin: 0 10px 0 0;
  }
}

