@import '~styles/variables';

.root {
  height: 100%;
  overflow: hidden;
  display: flex;
}

.sidebar {
  height: 100%;
  width: 300px;
}

.content {
  height: 100%;
  width: calc(100% - 300px);
}

.header {
  height: $headerHeight;
}

.projectSelection {
  float: left;
  height: $headerHeight;
  width: 100%;
}

.sidenav {
  width: 300px;
  height: calc(100% - #{$headerHeight});
  float: left;
}

.content {
  width: calc(100% - 300px);
  height: 100%;
  float: left;
}
