@import '~styles/variables';

.container {
  padding-bottom: 62px;
}

.listBlock {
  padding: $size38 0 0;
}


.newModelContainer {

  margin-top: 20px;
  transition: height 0.2s;

  &.notToggled {
    height: 0px;
  }

  &:hover {
    background: none;
  }

  .newModelBox {
    border-radius: 5px;
    background-color: white;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    transition: padding 0.2s, height 0.2s;
    border: 0;
    
    &.invalid {
      background-color: pink;
    }

    &.notToggled {
      height: 0;
      padding: 0;
    }
  }
}

.head {
  letter-spacing: 1px;
  line-height: 1;
  padding: 0 $size25;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: $white60;
  transition: color $duration linear;

  span {
    line-height: 1;
    margin-left: $size10;
  }

  svg path {
    stroke: $white60 !important;
    stroke-width: 4px !important;
    //transition: fill $duration linear;
  }

  //&:hover {
  //  color: $white80;
  //  svg {
  //    stroke: $white80;
  //  }
  //}
  //
  //&.active {
  //  color: #fff;
  //  svg {
  //    fill: #fff;
  //  }
  //}
}

.modelsHead {
  span {
    margin-left: 0;
  }
}

.listElement {

  transition: color $duration linear;

  &:hover {
     color: $white60
  }

  &.active {
    color: #FFF;
    background: $white07;

    &:before {
      content: "";
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: 0;
      width: $size06;
      background: $green;
      border-radius: 0 2px 2px 0;
    }
  }
}

.showMore {
  position: absolute;
  bottom: 0;
  left: 0;
width: 100%;
          background: linear-gradient(to bottom, opacify($darkerBlue, 0) 0%, $darkerBlue 80%);
height: $size60;
}

.add {

  &:hover {
    border-color: #fff;
  }

  &.addActive {
    background: #fff;
    color: $grey4;
  }
}

.footer {

  > div {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;

  }

  svg {
    margin: 0 25px 0 26px;
    fill: #A3A6A7;
  }
}
