@import '~styles/variables';



.showMore {
  position: absolute;
  bottom: 0;
  left: 0;
width: 100%;
          background: linear-gradient(to bottom, opacify($darkerBlue, 0) 0%, $darkerBlue 80%);
height: $size60;
}
