@import '~styles/core';
@import '~styles/variables';

.exampleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 25px;
  margin: 16px;
  font-size: 25px;

  &:hover {
    border-radius: grey;
    color: grey;
  }

  &.active {
    color: white;
    border-color: transparent;
    background-color: $accent;
  }
}