@import '~styles/variables';
@import '~styles/mixins';

.root {
  position: relative;

  select {
    text-align: center;
    background: transparent;
    border: 0;
    appearance: none;
    padding: 16px;
  }

  &.isMany {
    &:before, &:after {
      content: "";
      border: 1px solid $newGrey4;
      position: absolute;
      width: calc(100% - 6px);
      border-radius: 4px;
      background: #fff;
      height: 6px;
      bottom: -3px;
      left: 3px;
      z-index: 2;
    }

    &:after {
      width: calc(100% - 12px);
      left: 6px;
      bottom: -6px;
      z-index: 1;
    }
  }
}

.rootContainer {
  border: 1px solid $newGrey4;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  position: relative;
  z-index: 3;
  background: #fff;
}

.sizeToggle {
  display: flex;
  // border-bottom: 1px solid $newGrey4;
  width: 100%;
  padding: 3px;

  div {
    width: 50%;
    text-transform: uppercase;
    padding: 7px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: darken($newGrey4, 10%);
    flex: 0 0 auto;
    font-size: 12px;
  }
  .active {
    background: $newGrey4;
    color: lighten($newGrayDark, 5%);
    border-radius: 2px;
    cursor: default;
  }
}

.modelSelect {

  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;


  &:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    border-style: solid;
    border-width: 5px 3px 0 3px;
    border-color: $newGrayDark transparent transparent transparent;
  }
  select {
    cursor: pointer;
    color: $newGrayDark;
    // font-weight: bold;
    line-height: 1.5;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px 0 0;
    font-size: 20px;

    option {
      font-size: 16px;
    }
  }
}
