@import '~styles/variables';
@import '~styles/mixins';

.root {
  width: 700px;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow: scroll;
}

.header {
  background: #27AE60;
  padding: 40px 30px;
  font-size: 35px;
  color: #fff;
}

.name {

  display: flex;
  align-items: center;
  padding: 30px;
  border-top: 1px solid $newGrey4;

  label {
    font-size: 20px;
    margin-right: 30px;
  }

  input {
    flex: 1 0 auto;
    color: $newGrayDark;
    font-size: 20px;
    background: rgba($newGrey4, 0.5);
    border: 0;
    padding: 15px;
    font-weight: bold;
  }
  svg {
    fill: rgba($newGrayDark, 0.5);
    margin-left: 30px;
  }
}

.description {
  display: flex;
  align-items: center;
  padding: 0 120px 20px 60px;
  color: $newGrayDark;

  input {
    color: inherit;
    background: inherit;
    border: 0;
    width: 100%;
  }
}

.content {
  flex: 1 0 auto;
  display: flex;
  align-items: left;
  flex-direction: column;
  color: $grey3;
  justify-content: center;
  padding: 30px 0 0 0;

  .title {
    text-transform: uppercase;
    padding: 0 30px;
  }

  .settings {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 30px 60px;
    justify-content: center;

    .iconContainer {
      display: inline-block;
    }

    .icon {
      display: inline-flex;
      align-items: center;
      margin: 0 8px;
    }
  }

  .descriptors {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
}

.additionalInfo {
  display: flex;
  font-size: 12px;
  z-index: 1;

  .tabbutton {
    cursor: pointer;
    padding: 20px;
    display: flex;
    border: 1px solid transparent;

    svg {
      fill: $grey3;
    }

    .tabheader {
      margin-left: 12px;
      text-transform: uppercase;
      user-select: none;
    }

    &.active {
      border-top: 1px solid #e4e4f4;
      border-right: 1px solid #e4e4f4;
      border-bottom: 1px solid #F8F8FC;
      border-left: 1px solid #e4e4f4;
      background-color: rgba(228, 228, 244, 0.25);
    }
  }
}



.buttons {
  border-top: 1px solid #e4e4f4;
  display: flex;
  width: 100%;
  justify-content: space-between;
  user-select: none;
  background-color: $newGrey1;
  padding: 30px;

  div {
    cursor: pointer;
    cursor: hand;
    padding: 15px 15px;
    color: $newGrayDark;
  }

  .submit {
    padding: 15px 50px;
    border: 1px solid $grey3;
    color: $grey3;

    &.valid {
      cursor: pointer;
      cursor: hand;
      color: $accent;
      border: 1px solid $accent;

      &:hover {
        background-color: $accent;
        color: white;
        border: 1px solid white;
      }
    }
  }
}

.explanation {
  border-top: 1px solid #e4e4f4;
  margin-top: -1px;
}
