@import '~styles/variables';
@import '~styles/mixins';

.root {
  font-size: 17px;
  color: $newGrey3;
  padding: 20px 40px;
  border-bottom: 1px solid $newGrey2;

  &:hover {
    background-color: $newGrey1
  }

  input {
    margin-right: 20px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    margin-right: 8px;
  }
}

.description {
  margin-top: 8px;
  padding-right: 36px;
  font-style: italic;
  font-size: 14px;
  color: $grey3;
}

.name {
  margin-right: 12px;
}

.buttons {
  display: flex;
}

.icon {
  margin-left: 16px;
  cursor: hand;
  cursor: pointer;

  svg {
    fill: $grey3;

    &:hover {
      fill: $newGrey3;
    }
  }

}
