@import '~styles/variables';
@import '~styles/mixins';

.root {
  display: flex;
  align-items: center;
  width: 100%;
  // justify-content:
  // align-items: stretch;
}

.relationArrows {
  align-self: stretch;
  margin: 0 20px;
  position: relative;
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  &.hasFields {
    justify-content: space-between;

    // .relationArrow {
    //   margin: 0 40px;
    // }
  }
}

.relationArrow {
  width: 100%;
  padding: 15px 0;
  position: relative;
  display: flex;
  align-items: center;

  .relationArrowBase {
    position: relative;
    height: 1px;
    flex: 1 0 auto;
    background: $newGrayDark;

    &:before, &:after {
      content: "";
      height: 1px;
      width: 10px;
      background: $newGrayDark;
      position: absolute;
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &.pointsRight {
    .relationArrowBase {
      &:before, &:after {
        right: 0;
        transform-origin: bottom right;
      }

      &:after {
        transform-origin: top right;
      }
    }
  }

  &.pointsLeft {
    .relationArrowBase {
      &:before, &:after {
        left: 0;
        transform-origin: bottom left;
      }

      &:after {
        transform-origin: top left;
      }
    }
  }
}

.relationFieldInput {
  background: rgba($newGrey4, 0.5);
  flex: 0 0 auto;
  padding: 5px 10px;
  border-radius: 4px;

  label {
    font-size: 13px;
    font-weight: bold;
    color: rgba($newGrayDark, 0.5)
  }

  input {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: Monaco,monospace;
    font-size: 15px;
    width: 100px;
    margin-left: 7px;
    color: $newGrayDark;

  }

  &:first-child {
    margin-right: 10px;
  }

  &:last-child {
    margin-left: 10px;
  }
}
