@import '~styles/variables';
@import '~styles/mixins';

.root {
  width: 250px;
  height: 100%;
  @include cellborder($grey2);
  display: flex;
  align-items: flex-end;
  padding: 20px;

  a {
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid $grey2;
    border-radius: 4px;
    padding: 9px 19px;
    display: inline-block;
    background: $grey1;
    color: $grey3;

    &:hover {
      color: $grey4;
      border-color: $grey4;
    }
  }
}
