@import '~styles/variables';
@import '~styles/mixins';

$tableHead: 74px;
$tableHeadExpanded: 100px;

.root {
  height: 100%;
  position: relative;
}

.button {
  @include button;
  margin-left: 10px;

  &.green {
    border-color: $accent;
    color: $accent;
    background: #fff;

    &:hover {
      background: $accent;
      color: #fff;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: $accent;
    }
  }

  &.red {
    border-color: rgb(255, 31, 0);
    color: rgb(255, 31, 0);
    background: #fff;

    &:hover {
      background: rgb(255, 31, 0);
      color: #fff;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: rgb(255, 31, 0);
    }
  }

  &.blue {
    border-color: $accent-blue;
    color: $accent-blue;
    background: #fff;

    &:hover {
      background: $accent-blue;
      color: #fff;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: $accent-blue;
    }
  }
}

.menuDropdown {
  @include dropdown;
  top: 46px;
  right: 0;
}

.root.filtersVisible {

  .tableHead {
    height: $tableHeadExpanded;
  }

  .tableBody {
    height: calc(100% - #{$tableHeadExpanded});
  }
}

.loadingOverlay {
  top: calc(#{$headerHeight} + 1px);
  height: calc(100% - #{$headerHeight} - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.table {
  height: calc(100% - #{$headerHeight} - 1px);
  overflow-x: scroll;

  &.loading {
    filter: blur(2px);
  }

  .tableContainer {
    height: calc(100% - #{$tableHead});
    min-width: 100%;
  }

  .tableBody {
    height: calc(100% - #{$tableHead});
    width: 100%;
  }

  .tableBodyContainer {
    padding-bottom: 60px;
  }
}
