@import '~styles/variables';
@import '~styles/mixins';

$tableHead: 74px;
$tableHeadExpanded: 100px;

.root {
  height: 100%;
  position: relative;
}

.head {
  height: $headerHeight;
  background: $grey1;
  border-top: 1px solid $grey2;
  border-bottom: 1px solid $grey2;
  padding: 19px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headLeft {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .title {
    font-weight: 600;
    font-size: 20px;
    color: $grey5;

    .itemCount {
      margin-left: 9px;
      font-size: 15px;
      font-weight: 300;
      color: $grey3;
    }
  }

  .titleDescription {
    font-size: 14px;
    font-weight: 300;
    color: $grey4;
    margin-top: 1px;
  }
}

.headRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  .button {
    @include button;
    margin-left: 10px;

    &.green {
      border-color: $accent;
      color: $accent;
      background: #fff;

      &:hover {
        background: $accent;
        color: #fff;

        svg {
          fill: #fff;
        }
      }

      svg {
        fill: $accent;
      }
    }

    &.red {
      border-color: rgb(255, 31, 0);
      color: rgb(255, 31, 0);
      background: #fff;

      &:hover {
        background: rgb(255, 31, 0);
        color: #fff;

        svg {
          fill: #fff;
        }
      }

      svg {
        fill: rgb(255, 31, 0);
      }
    }

    &.blue {
      border-color: $accent-blue;
      color: $accent-blue;
      background: #fff;

      &:hover {
        background: $accent-blue;
        color: #fff;

        svg {
          fill: #fff;
        }
      }

      svg {
        fill: $accent-blue;
      }
    }
  }

  .menuDropdown {
    @include dropdown;
    top: 46px;
    right: 0;
  }
}

.root.filtersVisible {

  .tableHead {
    height: $tableHeadExpanded;
  }

  .tableBody {
    height: calc(100% - #{$tableHeadExpanded});
  }
}

.loadingOverlay {
  top: $headerHeight;
  height: calc(100% - #{$headerHeight});
  left: 0;
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.table {
  height: calc(100% - #{$headerHeight});
  overflow-x: scroll;

  &.loading {
    filter: blur(2px);
  }

  .tableContainer {
    height: 100%;
    min-width: 100%;
  }

  .tableHead {
    margin-top: -1px;
    height: $tableHead;
    display: flex;
    width: 100%;
  }

  .tableBody {
    height: calc(100% - #{$tableHead});
    width: 100%;
  }

  .tableBodyContainer {
    padding-bottom: 60px;
  }
}
