@import '~styles/variables';
@import '~styles/mixins';

.root {
  @include cellborder($grey2);
  z-index: 9;
  font-size: 12px;
  color: $grey5;
  overflow: hidden;
  display: flex;
  height: 47px;
  position: relative;
  text-overflow: ellipsis;

  .value {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding: 15px 20px;
    display: inline-block;
    white-space: nowrap;
    line-height: 17px;
  }

  .id {
    font-style: italic;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background: none;
    border: 0;
  }

  textarea {
    width: 105%;
    height: 150%;
    min-width: 100%;
    min-height: 100%;
    padding: 15px 20px;
    background: #fff;
    border: 0;
    @include cellborder($accent-blue);
    position: absolute;
  }

  select {
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background: none;
    border: 0;
  }

  &.null {
    .value {
      color: $grey3;
      font-style: italic;
    }
  }

  &.editing {
    @include cellborder($accent-blue);
    z-index: 10;
    overflow: visible;
  }

  &.invalid {
    @include cellborder(#F5A623);
    z-index: 10;
  }

  .loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: $grey3;
    }
  }

  .datepicker {
    position: absolute;
    min-width: 270px;
    width: 100%;
    height: 100%;
    background: #fff;
    @include cellborder($accent-blue);
  }
}
