@import '~styles/variables';
@import '~styles/mixins';

.root {
  display: flex;
  background: $blue3;
}

.empty {
  width: 34px;
  @include cellborder($grey2);
}

.buttons {
  width: 250px;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-left: 20px;
  text-transform: uppercase;
  @include cellborder($grey2);

  span {
    padding: 5px;
    cursor: pointer;
    color: $grey3;

    &:first-child {
      font-weight: 600;
      color: $grey4;
    }

    &:hover {
      color: $grey5;
    }
  }
}
