@import '~styles/variables';
@import '~styles/mixins';

.root {
  display: flex;
  background-image: linear-gradient(to right, rgba(0,0,0,.08) 50%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 12px 1px;
  background-repeat: repeat-x;
  cursor: pointer;
}

.empty {
  width: 40px;
}

.cell {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,.08) 50%, rgba(255,255,255,0) 0%);
  background-position: left;
  background-size: 1px 12px;
  background-repeat: repeat-y;
  &:last-child {
    background-image: linear-gradient(rgba(0,0,0,.08) 50%, rgba(255,255,255,0) 0%), linear-gradient(rgba(0,0,0,.08) 50%, rgba(255,255,255,0) 0%);
    background-position: left, right;
    background-size: 1px 12px, 1px 12px;
    background-repeat: repeat-y, repeat-y;
  }
}

.add {
  margin-left: 15px;
  display: flex;
  color: rgba(0,0,0,0.3);
  font-size: 12px;
  i {
    margin-right: 10px;
    svg {
      fill: rgba(0,0,0,0.3);
    }
  }
}
