@import '~styles/variables';
@import '~styles/mixins';

.root {
  display: flex;
  @include cellborder($grey2);

  &:nth-child(2n) {
    background: $blue1;
  }

  &.isSelected {
    background: $blue2;
  }
}
